.error-404-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  .black-hole {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: #111222;
    justify-content: center;
    font-size: 4vw;
    text-decoration: none;
    box-shadow: -25px 50px 30px rgba(0, 0, 0, 0.125);
    border: 0;

    cursor: pointer;
    transition: all 1s ease;
    &:hover {
      width: 22vw;
      height: 22vw;
    }

    &.full {
      width: 200vw;
      height: 200vw;
      // border-radius: 0;
    }
  }
}
