.bloc {
  width: 320px;
  height: 190px;
  display: inline-block;
  background: #fff;
  box-sizing: border-box;
  margin: 30px;
  padding: 15px 30px;

  font-size: 13px;
  position: relative;
  border-radius: 3px;
  text-align: left;
  transform: scale(1);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.bloc:hover {
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  transform: scale(1.05);
}
.title {
  text-align: center;
  margin: 10px auto;
  color: #444;
}
.subtitle {
  font-size: 14px;
  color: #777;
}
.addnew {
  font-size: 12px;
  text-decoration: none;
  color: #3498db;
  padding: 5px;
}
.addnew:hover {
  border-bottom: 1px solid #3498db;
}
.addnewplus {
  font-size: 21px;
  vertical-align: sub;
}
h1 {
  margin-bottom: 0;
}

h2 {
  font-weight: normal;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: inline-block;
  text-transform: capitalize;
}

p {
  margin: 0;
}
.css-style {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 95%;
}
.page-footer {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(189, 195, 199, 0.3);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.page-footer__title {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
;
}

.color-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.color-list__item {

}

.color-list__button {
  transition: .3s all linear;
  border: 1px solid #ccc;
  font-size: 27px;
  font-weight: bold;
  cursor: pointer;
  margin: 3px 5px;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background: #f5f5f5;
  letter-spacing: 1px;
  display: inline-block;
  outline: none;
  padding: 0;
}

.color-list__button:hover,
.color-list__button--selected {
  border-radius: 4px;
}

.color-list__button.picker {
  background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-list__button.picker span {
    font-size: 0.5em;
    position: absolute;
    font-weight: normal;
    font-style: normal;
}

.color-picker {
  position: fixed;
  display: none;
  z-index: 100;
}
.color-picker.--is-active {
  display: block;
  transform: translate(-50%, -110%);
}

.Copy {
  cursor: pointer;
  background-color: #fafafa;
  padding: 5px;
  margin: 5px 5px 5px 0;
  border-radius: 3px;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.Copied {
  cursor: pointer;
  background-color: #2ecc71;
  padding: 5px;
  margin: 5px 5px 5px 0;
  border-radius: 3px;
  color: #fff;
}
.Copy:hover {
  background-color: #eee;
}
.Copyred {
  background-color: red;
}

.selected {
  font-weight: bold;
  border-color: #888 !important;
}
.googlebar {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  height: 44px;
  max-width: 630px;
  vertical-align: top;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 1px 9px 16px;
  font-size: 11px;
  margin: 70px auto;
}
h3 {
  display: inline-block;
  font-size: 13px;
  margin-right: 10px;
  font-weight: 400;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.searchicon {
  background: transparent;
  float: right;
  height: 44px;
  width: 44px;
  top: 0;
  margin: 0;
  position: sticky;
  color: #4285f4;
  fill: currentColor;
  box-sizing: border-box;
  padding: 10px;
  margin-top: -1px;
}
.voiceicon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC)
    no-repeat -3px 0;
  background-size: 24px 24px;
  display: inline-block;
  height: 23px;
  width: 17px;
  vertical-align: middle;
}
body {
  background: #eee;
  font-family: "Raleway", sans-serif;
  
  color: #555;
  margin-bottom:50px;
  padding-bottom:50px;

}

.app {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.googlebarcode {
  font-size: 10px;
}

@media only screen and (max-width: 400px) {
  .bloc {
    width: 270px;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 700px) {
  .googlebarcode {
    display: none;
  }
}
